.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 1px solid #909094;
  border-radius: 10px;
}

.card .parking-lot-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 20px;
}

.card .parking-availability {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.card .parking-availability button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: tan;
  cursor: pointer;
}
