.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 650px;
  border: 3px solid #909094;
  border-radius: 50px;
  gap: 30px;
}

.dashboard .dashboard-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 350px;
  margin: 30px;
}

.dashboard .dashboard-card-container P {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}

.dashboard .dashboard-card-container.notif-availability {
  width: 300px;
  height: 50px;
  font-size: 16px;
  text-align: center;
}

.dashboard .dashboard-card-container .find-parking-button {
  background: none;
  border: none;
  color: tan;
  cursor: pointer;
  font-size: 20px;
}

.dashboard .dashboard-card-container .find-parking-button:hover {
  color: #fff;
}
